/* CSS Document */

* {	margin:0; padding:0; font-size:100%;}

body{background:#000000; text-align:center;}
.tail{ background:url(../images/body-tail.gif) top center repeat-y;}
.top-bg{ background:url(../images/body-bg.jpg) top center no-repeat;}
.bot-bg{ background:url(../images/footer-bg.jpg) bottom center no-repeat;}

img {vertical-align:top;}
a img { border:0;}

ul { list-style:none;}

.left { float:left;}
.right {float:right;}
.clear  { clear:both;}


html{ font-family:Arial, Helvetica, sans-serif; font-size:0.8125em; line-height:1.231em; color:#be9387;}

input, select { vertical-align:middle; font-weight:normal;}

a {color:#be9387;}
a:hover{text-decoration:none;}
p {padding-top:16px;}
strong{ display:block;}
cite, em{ display:block; line-height:1.385em;}
cite strong{ display:inline;}
cite span, em span{ color:#bf683d;}
em a{ color:#bf683d;}

/* ============================= main layout ====================== */
.imgindent {margin:0 25px 0 0; float:left;}
.imgindent2 {margin:0 0 0 20px; float:right;}
.phone{ float:right; padding-right:80px;}
.space1{ margin-left:30px;}
.space2{ margin-left:21px;}
.margin1{ margin-top:4px;}
.margin2{ margin-top:-20px; position:relative;}
.padding1{ padding-top:9px;}
.padding2{ padding-top:13px;}
.padding3{ padding-top:19px;}

/* ============================= header ====================== */
#header{ text-align:center;}
#header .text{ text-align:right; font-size:0.769em; text-transform:uppercase; color:#7b335f; padding:10px 7px 0 0; height:24px;}
#header .text span{ font-size:1.3em; padding-left:10px;}
#header .logo{ padding:51px 0 0 21px;}
#header .menu{ width:100%; overflow:hidden; padding-top:33px;}
#header .menu li{ float:left; font-size:0.923em; line-height:1.25em; text-transform:uppercase; font-weight:bold;}
#header .menu a{ color:#f1ffaf; text-decoration:none; display:inline-block; background:url(../images/menu-bg.gif) top repeat-x; padding:13px 62px 13px 61px;}
#header .menu a:hover, #header .menu .active{ background:url(../images/menu-bg-act.gif) top repeat-x;}

/* ============================= content ====================== */
#content{ padding:0 5px 5px 5px;}
.row-2 {margin-top : 6px;}
.row-1{ padding:0px 0 0px 0; margin-top:8px}
.row-1 .column-2, .row-1 .column-3{ margin-left:3px}
.indent{ padding:20px 0 20px 25px;}
.indent2{ padding:20px 25px 20px 20px;}
.indent3{ padding:20px 0 0px 25px;}
.indent4{ padding:42px 25px 35px 20px;}

.indent-img {
  width : 195px;
}

.text1{ font-size:1.154em; line-height:1.467em;}
.text2{ line-height:1.385em;}
.unline{ border-bottom:solid 1px #331829; padding-bottom:35px; margin-bottom:42px;}
.title{ padding-bottom:16px;}

.link{ display:inline-block; background:url(../images/link-tail.gif) top repeat-x; color:#dd76ba; font-weight:bold; text-decoration:none; margin-top:13px; font-size:0.846em;}
.link span{ display:block; background:url(../images/link-left-bg.gif) left top no-repeat;}
.link span span{ background:url(../images/link-right-bg.gif) right top no-repeat; padding:3px 40px 3px 13px;}
.link:hover{ background:url(../images/link-tail-act.gif) top repeat-x;}
.link:hover span{ background:url(../images/link-left-bg-act.gif) left top no-repeat;}
.link:hover span span{ background:url(../images/link-right-bg-act.gif) right top no-repeat;}

.list{ margin-top:-2px;}
.list li{ line-height:1.384em; background:url(../images/list-marker.gif) no-repeat 0 4px; padding:0 0 6px 20px;}
.list a{ text-decoration:none;}
.list a:hover{ text-decoration:underline;}

.box1{ background:url(../images/box1-top-tail.gif) top repeat-x #1e0112; width:100%;}
.box1 .left-border{ background:url(../images/box1-border.gif) left repeat-y;}
.box1 .right-border{ background:url(../images/box1-border.gif) right repeat-y;}
.box1 .bot-border{ background:url(../images/box1-border.gif) bottom repeat-x;}
.box1 .left-top{ background:url(../images/box1-corner-left-top-s.gif) left top no-repeat;}
.box1 .right-top{ background:url(../images/box1-corner-right-top-s.gif) right top no-repeat;}
.box1 .indent{ padding:20px 20px 15px 20px;}
.box1 .indent2{ padding:20px 20px 25px 20px;}
.box1 .title{ padding-bottom:14px;}
.box1 .list li{ background:url(../images/box-list-marker.gif) no-repeat 0 4px;}

.box2{ background:url(../images/box2-top-tail.gif) top repeat-x #1f0113; width:100%;}
.box2 .left-border{ background:url(../images/box2-border.gif) left repeat-y;}
.box2 .right-border{ background:url(../images/box2-border.gif) right repeat-y;}
.box2 .bot-border{ background:url(../images/box2-border.gif) bottom repeat-x;}
.box2 .left-top{ background:url(../images/box2-corner-left-top.gif) left top no-repeat; width:100%;}
.box2 .right-top{ background:url(../images/box2-corner-right-top.gif) right top no-repeat;}
.box2 .bot-border{ background:url(../images/box2-border.gif) bottom repeat-x;}
.box2 .indent{ padding:28px 20px 22px 19px;}
.box2 .indent2{ padding:28px 30px 35px 19px;}
.box2 .indent3{ padding:28px 20px 35px 19px;}
.box2 .title{ padding-bottom:18px;}
.box2 .list li{ background:url(../images/box-list-marker.gif) no-repeat 0 4px;}

/* ============================= footer ====================== */
#footer{ text-align:center;}
#footer .menu{ padding:31px 0 0 10px; color:#bf683d;}
#footer .menu li{ display:inline; padding-left:15px;}
#footer .menu a{ color:#bf683d;}
#footer a{ margin-right:16px; text-decoration:none;}
#footer a:hover{ text-decoration:underline;}
#footer .text{ font-size:0.923em; color:#624a4a; padding:5px 0 0 20px;}
#footer .text a{ color:#624a4a;}

/* ============================= forms ============================= */
#ContactForm{ padding-top:20px;}
#ContactForm strong{ font-size:0.923em; line-height:1.167em; font-weight:normal;}
#ContactForm .col-1{ width:292px !important;}
#ContactForm .col-2{ width:280px !important;}
#ContactForm label{ display:block; height:36px;}
#ContactForm input{ border:solid 1px #4e2c33; background:#290e1e; font-family:Arial, Helvetica, sans-serif; font-size:1em; color:#ffffff; padding:1px 0 1px 3px; width:263px;}
#ContactForm textarea{ border:solid 1px #4e2c33; background:#290e1e; font-family:Arial, Helvetica, sans-serif; font-size:1em; color:#ffffff; padding:1px 0 1px 3px; width:275px; height:88px; overflow:hidden;}
#ContactForm .link{ margin:23px 20px 0 10px;}
